.ForgotPassForm{
    position: relative;
    margin: -58px auto 0 auto;
    background: #0B0C0C;
    width: 727px;
    height: 678px;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0% 0%,
            100% 0%,
            100% 76.3%,
            77.9% 100%,
            0% 100%);
    > h1{
        margin: 120px 0 24px 0;
    }
    > form{
        display: flex;
        flex-direction: column;
        align-items: center;
        > button{
            margin: 32px 0;
        }
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -15px;
        right: -72px;
        width: 0;
        height: 0;
        border-left: 113px solid transparent;
        border-right: 113px solid transparent;
        border-top: 113px solid red;
        transform: rotate(315deg);
    }

}
.goBack{
    color: #A1A1A1;
    margin-top: 60px;
    cursor: pointer;
    text-decoration: none;
    margin-right: auto;
}
.text{
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
}
.error{
    position: absolute;
    color: #FF1822;
    bottom: 0;
    transform: translateY(170%);
}
