.wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 32px;
}
.title {
  color: transparent;
  font-family: 'Arial', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 48px;
  -webkit-text-stroke: .5px rgb(255, 255, 255);
  line-height: 50px;
  padding: 0;
  white-space: pre-line;
  display: inline-block;
}
.point{
  font-family: 'Calibri', sans-serif;
  -webkit-text-stroke: 1px #FF1822;
  font-size: 65px;
}