.entranceButton {
    width: 176.62px;
    height: 43px;
    color: white;
    font-size: 13px;
    //border: 1px solid #FF1822;
    cursor: pointer;
    //background: transparent;
    padding: 15px 70px;
    margin-right: 15px;
    text-decoration: none;
    background-image: url("../../../public/button1.png");
    background-size: 179px 45px;
    background-repeat: no-repeat;

}
.entranceButton:hover{
    transition-duration: 0.5s;
    background-image: url("../../../public/button2.png");
}

