.wrapper{
  width: 100%;
  margin-top: 15px;
}
.label{
  margin-right: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  > .checkbox {
    display: none;
  }
  > .fake {
    display: inline-block;
    padding: 0;
    width: 32px;
    height: 32px;
    position: relative;
    background: #1a1a1a;
    &__ball{
      border-radius: 50%;

    }
  }
  .fake__ball:before{
    border-radius: 50%;
  }
  .fake:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 15px;
    height: 15px;
    background: #FF1822;
    opacity: 0;
    transition: .3s;

  }
  .checkbox:checked + .fake::before{
    opacity: 1;
  }
  //.kub:before{
  //  border-radius: 0;
  //}

  > .text {
    color: #A1A1A1;
    padding-left: 15px;
    font-size: 16px;
  }
}