.registrationButton{
    border: none;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 13px;
}
.registrationButton:hover{
    color: red;
    transition-duration: 0.5s;
}