body {
  margin: 0;
  /*width: 100%;*/
  color: white !important;
  padding: 0 90px;
  background-image: url("img/bg.png");
  background-size: 48px 96px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat'),
  url('Montserrat-VariableFont_wght.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}