.body {
  margin-top: 61px;
  width: 100%;
}
.headerSpan,.headerSpanLast{
  color: #A1A1A1;
  background-color: #1A1A1A;
  padding: 16px 21px;
  display: flex;
}
.headerSpanLast{
  width: 100%;
  //display: flex;
  justify-content: flex-end;
}
.mainRow{
  display: flex;
  flex-direction: column-reverse;
  background-color: #0B0C0C;
  width: 100%;

  &:last-child{
    align-items: flex-end;
  }
}
.tableBody{
  display: flex;
}
.row,.rowResult,.rowRed,.rowRedResult,.rowGreen,.rowGreenResult{
  display: flex;
  color: white;
  padding: 16px 21px;
  background: #0B0C0C;
  //padding-bottom: 20px;
  &:first-child{
    background: #0B0C0C;
  }
}
.rowRed,.rowRedResult{
  color: #FF1822;
}
.rowResult{
  &:before{
    content: 'P–P–P–PERFECT:';

  }
}
.rowRedResult{
  &:before{
    content: 'НЕДОРАБОТКА:';
  }
}
.rowGreen,.rowGreenResult{
  color: #00CF2C;
}
.rowGreenResult{
  &:before{
    content: 'ПЕРЕРАБОТКА:';
  }
}
.rowResult,.rowRedResult,.rowGreenResult{
  &:before{
    padding-right: 10px;
  }
}